{wrap}

  {preheader}This preheader will only be visible in supporting clients.{/preheader}

  {table padding=10 width={width} mobile="fill"}
    {td font=default align=left}

      {img src=logo.jpg height=50 width=200 alt="Company Logo"}<br>

      {img src=billboard.jpg height=180 width={width} mobile="fill"}<br>

      The {code}&#123;img&#125;{/code} Helper automatically uses placehold.it when the specified image is missing from the {code}images/{/code} folder.  It also sets the {code}display{/code} attribute of its style to {code}block{/code} and will warn you when you've forgotten to set dimensions.  Inkcite's Image Helper is responsive-ready, too - you can set this image to {code}hide{/code}, {code}fill{/code} or show a different image using the {code}mobile-src{/code} property.<br><br>

      {a id="image-docs" href="https://inkcite.readme.io/docs/image"}Learn More{/a}

    {/td}
  {/table}

  {table padding=10 width={width} float=center mobile="fill"}
    {td align=left font=small}

      {img src=footer.jpg height=100 width={width} mobile="hide"}<br>

      <% if email? %>
        This email was sent to [email].  {a id="unsubscribe" href=#}Click here to unsubscribe{/a}.
        Using ERB, this unsubscribe notice will only appear in the 'email' format of this project.
      <% end %>

    {/td}
  {/table}

{/wrap}
